<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="../../Styles/Global.css">
    <title>OpenX Dashboard</title>
    <style>
        .hacker-font {
            font-family: 'Courier New', Courier, monospace;
        }
    </style>
</head>

<body class="font-sans bg-black text-green-400 hacker-font flex flex-col h-screen">
    <header class="bg-black p-4 border-b border-green-500">
        <div class="container mx-auto flex items-center justify-between">
            <a href="/">
                <h1 class="text-3xl font-extrabold text-green-500">OpenX</h1>
            </a>
            <span class="text-xl text-green-500 font-bold"><%= username %></span>

        </div>
    </header>

    <div class="flex-1 flex overflow-hidden">
        <aside class="w-1/6 h-screen bg-black overflow-hidden border-r border-green-500">
            <nav class="p-4">
                <ul>
                    <a href="/dashboard" class="text-green-500">
                        <li class="flex items-center p-3 hover:bg-gray-800 transition duration-300 rounded-md">
                            <i class="fas fa-home text-xl mr-2"></i>
                            <span class="ml-2 text-lg">Home</span>
                        </li>
                    </a>
                    <a href="/dashboard/files" class="text-green-500">
                        <li class="flex items-center p-3 mt-auto hover:bg-gray-800 transition duration-300 rounded-md gap-1">
                            <i class="fas fa-file-alt text-xl mr-2"></i>
                            <span class="ml-2 text-lg">Files</span>
                        </li>
                    </a>
                    <a href="/logout" class="text-green-500">
                        <li class="flex items-center p-3 mt-auto hover:bg-gray-800 transition duration-300 rounded-md">
                            <i class="fas fa-sign-out-alt text-xl mr-2"></i>
                            <span class="ml-2 text-lg">Logout</span>
                        </li>
                    </a>
                </ul>
            </nav>
        </aside>



            <main class="flex-1 p-8 bg-black overflow-y-auto rounded-tl-lg">
                <div class="bg-gray-800 p-8 rounded-md shadow-md space-y-6 border border-green-500">
                    <h2 class="text-3xl font-bold text-green-400 mb-4">Welcome Back <%= username %></h2>
            
                    <div class="flex flex-col md:flex-row md:space-x-4">
                        <div class="flex-1 mt-6 p-4 bg-gray-700 rounded-md shadow-md border border-green-500">
                            <h3 class="text-lg font-bold text-green-400 mb-2">File Count</h3>
                            <p class="text-green-400">Total Files: <span id="fileCount" class="text-green-400">Loading...</span></p>
                        </div>
                        <div class="flex-1 mt-6 p-4 bg-gray-700 rounded-md shadow-md border border-green-500">
                            <h3 class="text-lg font-bold text-green-400 mb-2">Space Used</h3>
                            <p class="text-green-400">Total Space: <span id="spaceUsed" class="text-green-400">Loading...</span></p>
                        </div>
                    </div>
                </div>
            </main>
            

            <script>
                fetch('/api/file-count')
                    .then(response => response.json())
                    .then(data => {
                        document.getElementById('fileCount').innerText = data.numberOfFiles;
                    })
                    .catch(error => console.error('Error Fetching File Count:', error));
            
                fetch('/api/space-used')
                    .then(response => response.json())
                    .then(data => {
                        document.getElementById('spaceUsed').innerText = data.spaceUsedFormatted;
                    })
                    .catch(error => console.error('Error Fetching Space Used:', error));
            </script>
        </main>
    </div>
</body>
</html>
