<html>
    <body>
        <% if (fileType === "image") { %>
            <p>This is an image</p>
        <% } else if (fileType === "video") { %>
            <p>This is a video</p>
        <% } else { %>    
            <p></p>
        <% } %>
    </body>
</html> 